
body{
   font-variant-numeric: normal;
}
* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(240, 157, 56);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}



div  {
    padding-left: 400px;
}

div button {
    height: 110px;
    width: 110px;

    border-radius: 10px;
    font-size: 100%;
    font-weight: bolder;
    border-width: 6px;
    border-style: inset double bold;
    opacity: 0.85;
}
.numeros{
    display: grid;   
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 90px 90px ;
    gap: 3px;
}
.tecla {
    display: grid;   
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:  90px 90px 90px ;
    gap: 2px;
}

div button{
    background-color: rgb(168, 221, 82);
    color: rgba(245, 222, 179, 0.472);
    text-align: center;
    font-size: 90px;
}
div button:hover{
    background-color: rgba(156, 238, 62, 0.829);
    color: rgb(0, 130, 130);
    cursor: pointer;
}
div button{
    background-color: rgb(92, 186, 80);
    color: rgba(245, 222, 179, 0.472);
    text-align: center;
    font-size: 70px;
}
div button:hover{
    background-color: rgb(240, 157, 37);
    color: rgba(0, 115, 130, 0.822);
    cursor: pointer;
}
.operadores .item.uno{
    font-size: 120px; 
}
.pantalla{
    
    display: flex;
    align-items: center;
    overflow:hidden;
    background-color: rgb(226, 159, 56);
    color: rgb(6, 49, 6);
    width: 35%;
    height: 120px;
    text-align: center;
    font-size: 90px; 
    gap: 3px; 
}
